{% extends "base.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}

    <div class="container-fluid pt-3">
      <div class="row">

        <div class="col-sm-6">


    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">
            <!-- {{ form.username.label }}<br> -->
            {{ form.username(size="32", autofocus=true, placeholder="Username", value="guest", class="form-control form-control-sm") }}
            {% for error in form.username.errors %}
            <div style="color: red;">[{{ error }}]</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <!-- {{ form.password.label }}<br> -->
            {{ form.password(size="32", placeholder="Password", value="test1234", class="form-control form-control-sm") }}
            {% for error in form.password.errors %}
            <div style="color: red;">[{{ error }}]</div>
            {% endfor %}
       </div>

        <div class="form-check">{{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label }}</div>

        <div>{{ form.submit(class="myButton") }}</div>


        <div><small>New User? <a href="{{ url_for('auth.register') }}">click to register!</a></small></div>
        <div><small>Guests Log in with username guest / password test1234</small></div>
        <div><small><a href="{{ url_for('email.reset_password_request') }}">forgot password?</a></small></div>


    </form>



        </div>

      <div class="col-sm-6" style="text-align:left">

      </div>


      </div>


    </div>


{% endblock %}

