    .box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
    }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 10%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 80%; /* Set the width of the positioned div */
    }

.top-left {
  position: absolute;
  top: 3px;
  left: 35px;
}

.polaroid {
  width: 320px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}


.smallPolaroid {
  height: 194px;
}

.dramatic {
  display: none;
}


.form-control:focus {
        border-color: #ffc107;
        box-shadow: 0 0 0 0.2rem rgba(252, 202, 3, 0.25);
    } 


.expandable {
  height: 2.00em;
  width:auto;
  overflow: hidden;
} 
.full_height {
  height: auto;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 30px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   width: 1.1em;
   left: 0;
   color: gold;
}

.yellowStar {
   color: gold;
   width: 1.1em;
}

.blackStar{
   color: black;
   width: 1.1em;
}




.homerating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: gold;
  font-size: 20px;
  height: 10px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.homerating-upper {
  color: gold;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.homerating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}



.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}


.arrow {
  border: solid gold;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.noarrow {
  border: solid gold;
  opacity: 0.5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}