
{% extends "base.html" %}

{% block title %}
    Most Popular Books
{% endblock %}

{% block content %}
        {#
        <h1>{{book.title}}</h1>
        <p>{{book.author}}<p>
        <p>{{book.amazon_lookup_id}}<p>
        #}
        {% set imagesPerRow = namespace(value=10) %}


        {% set count = namespace(value=0) %}
        {% for book in allBooks %}
           {% set count.value = count.value + 1 %}

           {% if count.value % imagesPerRow.value == 1 %}
           <div class="card-body">
              <div class="row" style="padding-right:10px;">
           {% endif %}


<span>

                 {% if book["google_image_url"] %}
                     <img height="140" data-toggle="tooltip" data-html="true" title='{{book["author"]}}<br />{{book["title"]}}' id="booksThumbnail_{{count.value }}" class="rounded bookButton" data-bookID='{{book["amazon_lookup_id"]}}' style="cursor: pointer;padding-right:4px;" class="rounded bookButton" src='{{book["google_image_url"]}}'>
                 {% else %}
                     <img  height="140"  data-toggle="tooltip" data-html="true" title='{{book["author"]}}<br />{{book["title"]}}' id="booksThumbnail_{{count.value }}" class="rounded bookButton" data-bookID='{{book["amazon_lookup_id"]}}' style="cursor: pointer;padding-right:4px;" class="rounded bookButton" src='{{book["image_url"]}}'>
                 {% endif %}



<div>
<div class="homerating">
    <div class="homerating-upper" style="width: {{book['scorePercent']}}%;">
        <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
    </div>
    <div class="homerating-lower">
        <span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span>
    </div>
</div>
</div>

</span>



          {% if count.value % imagesPerRow.value == 0 %}
              </div>
           </div>
          {% endif %}
        {% endfor %}



<script>

  $(document).ready(function(){
    $('[data-toggle="collapse"]').collapse();
    $('[data-toggle="tooltip"]').tooltip();
  });



  $('.bookButton').on('click', function () {
     var thisID = $(this).attr("id" )
     var handle = "#" + thisID
     var bookID = $(handle).attr("data-bookID" )
     var url = "https://www.amazon.com/dp/" + bookID
     var win = window.open(url, '_blank');

  });

</script>

{% endblock %}