
{% extends "base.html" %}

{% block title %}
    Most Popular Books
{% endblock %}

{% block content %}

</div style="text-align:center;">

        {% set count = namespace(value=0) %}
        {% for book in allBooks %}
           {% set count.value = count.value + 1 %}

           {% if count.value % imagesPerRow == 1 %}
           <div class="card-body">
              <div class="row" style="padding-right:10px;">
           {% endif %}


<span>
                 <a href="{{ url_for('main.book', bookID=book['id']) }}">
                 {% if book["google_image_url"] %}
                     <img height="140" data-toggle="tooltip" data-html="true" title='{{book["author"]}}<br />{{book["title"]}}' id="booksThumbnail_{{count.value }}" class="rounded bookButton" data-bookID='{{book["id"]}}' data-amazonLookupID='{{book["amazon_lookup_id"]}}' style="cursor: pointer;padding-right:4px;" class="rounded bookButton" src='{{book["google_image_url"]}}'>
                 {% else %}
                     <img  height="140"  data-toggle="tooltip" data-html="true" title='{{book["author"]}}<br />{{book["title"]}}' id="booksThumbnail_{{count.value }}" class="rounded bookButton" data-bookID='{{book["id"]}}' data-amazonLookupID='{{book["amazon_lookup_id"]}}' style="cursor: pointer;padding-right:4px;" class="rounded bookButton" src='{{book["image_url"]}}'>
                 {% endif %}
                 </a>



<div style="text-align:center">
  <div class="homerating">
    <div class="homerating-upper" style="width: {{book['scorePercent']}}%;">
        <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
    </div>
    <div class="homerating-lower">
        <span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span>
    </div>
  </div>
</div>

</span>




          {% if count.value % imagesPerRow == 0 %}
              </div>
           </div>
          {% endif %}
        {% endfor %}

</div>

    <div style="text-align:center;">

    {% set first_url = url_for('main.index') + '?page=1' %}
    {% set last_url = url_for('main.index') + '?page=' + lastPage %}
    {% if prev_url %}
        <a style="padding:5px" href="{{ first_url }}"><i class="arrow left"></i><i class="arrow left"></i></a>&nbsp;
        <a style="padding:5px"  href="{{ prev_url }}"><i class="arrow left"></i></a>&nbsp;
    {% else %}
        <i class="noarrow left"></i><i class="noarrow left"></i>&nbsp;
        <i class="noarrow left"></i>&nbsp;
    {% endif %}

    {% if next_url %}
        <a href="{{ next_url }}"><i class="arrow right"></i></a>&nbsp;
        <a href="{{ last_url }}"><i class="arrow right"></i><i class="arrow right"></i></a>&nbsp;
    {% else %}
         <i class="noarrow right"></i>&nbsp;
         <i class="noarrow right"></i><i class="noarrow right"></i>&nbsp;
    {% endif %}
    </div>


<script>

  $(document).ready(function(){
    $('[data-toggle="collapse"]').collapse();
    $('[data-toggle="tooltip"]').tooltip();
  });


  /*
  $('.bookButton').on('click', function () {
     var thisID = $(this).attr("id" )
     var handle = "#" + thisID
     var bookID = $(handle).attr("data-amazonLookupID" )
     var url = "https://www.amazon.com/dp/" + bookID
     var win = window.open(url, '_blank');

  });
  */

  /*
  $('.bookButton').on('click', function () {
     var thisID = $(this).attr("id" )
     var handle = "#" + thisID
     var bookID = $(handle).attr("data-bookID" )
     url = "{{ url_for('main.book', bookID=bookID) }}/" + bookID
     var win = window.open(url,"_self");

  });
  */

</script>

{% endblock %}