
{% extends "base.html" %}

{% block title %}
    Most Popular Books
{% endblock %}

{% block content %}
        {#
        <h1>{{book.title}}</h1>
        <p>{{book.author}}<p>
        <p>{{book.bookID}}<p>
        #}
        {% set imagesPerRow = namespace(value=10) %}


        {% set count = namespace(value=0) %}
        {% for book in allBooks %}
           {% set count.value = count.value + 1 %}

           {% if count.value % imagesPerRow.value == 1 %}
           <div class="card-body">
              <div class="row" style="padding-right:10px">
           {% endif %}

                 <img data-toggle="tooltip" data-html="true" title='{{book["author"]}}<br />{{book["title"]}}' id="booksThumbnail_{{count.value }}" class="rounded bookButton" data-bookID='{{book["bookID"]}}' style="cursor: pointer;padding-right:4px;" class="rounded bookButton" src='{{book["image_url"]}}'>

          {% if count.value % imagesPerRow.value == 0 %}
              </div>
           </div>
          {% endif %}
        {% endfor %}



<script>

  $(document).ready(function(){
    $('[data-toggle="collapse"]').collapse();
    $('[data-toggle="tooltip"]').tooltip();
  });



  $('.bookButton').on('click', function () {
     var thisID = $(this).attr("id" )
     var handle = "#" + thisID
     var bookID = $(handle).attr("data-bookID" )
     var url = "https://www.amazon.com/dp/" + bookID
     var win = window.open(url, '_blank');

  });

</script>

{% endblock %}